<div class="dropdown" dropdown   #dropdown="bs-dropdown">
  <button dropdownToggle
    class="btn btn-tertiary dropdown-toggle"
    type="button"
    id="language"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="true">
    @if (current != null) {
      {{current}}
    }
    @if (current == null) {
      <ng-icon  name="ionGlobeOutline"></ng-icon>
    }

  </button>
  <div *dropdownMenu class="dropdown-menu" aria-labelledby="language">
    @for (lang of languages; track lang) {
      <a class="dropdown-item" href="{{urlBase}}/{{lang}}">{{lang}}</a>
    }
  </div>
</div>
