<div #photoContainer class="photo-container rounded" (mouseover)="mouseOver()" (mouseout)="mouseOut()">

  @if (thumbnail.Available) {
    <img alt="{{gridMedia.media.name}}" #img [src]="thumbnail.Src"
         (load)="loaded=true"
         [class.loading]="!loaded">
  } @else {
    <app-gallery-grid-photo-loading
      [error]="thumbnail.Error"
      [animate]="thumbnail.loading">
    </app-gallery-grid-photo-loading>
  }

  @if (gridMedia.isVideo()) {
    <div class="video-indicator">
      {{gridMedia.Video.metadata.duration  | duration}}
      <ng-icon name="ionVideocamOutline"></ng-icon>
    </div>
  }

  @if (gridMedia.isLivePhoto()) {
    <div class="live-photo-indicator">
      LIVE
    </div>
  }

  <!-- Media buttons -->
  @if (mediaButtons.length > 0) {
    <div class="media-buttons">
      @for (button of mediaButtons; track button.name) {
        <button class="media-button"
                [class.always-visible]="button.alwaysVisible"
                [class.no-click]="!button.apiPath"
                [title]="button.name"
                (click)="onMediaButtonClick(button, $event)">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="media-button-icon"
               fill="currentcolor"
               [attr.viewBox]="button.svgIcon.viewBox || '0 0 512 512'"
               [innerHtml]="button.svgIcon.items | safeHtml">
          </svg>
        </button>
      }
    </div>
  }

  <!--Info box -->
  @if (infoBarVisible) {
    <div class="info rounded-bottom">
      <div class="photo-name">{{Title}}</div>

      @if (gridMedia.hasPositionData()) {
        <div class="photo-position">
          <ng-icon name="ionLocationOutline"></ng-icon>
          @if (getPositionText()) {
            @if (searchEnabled) {
              <a [routerLink]="['/search', getPositionSearchQuery()]">{{getPositionText()}}</a>
            } @else {
              <span>{{getPositionText()}}</span>
            }
          }
        </div>
      }

      @if (keywords) {
        <div class="photo-keywords">
          @for (keyword of keywords; track keyword.value; let last = $last) {
            @if (searchEnabled) {
              <a [routerLink]="['/search', getTextSearchQuery(keyword.value,keyword.type)]">
                @switch (keyword.type) {
                  @case (SearchQueryTypes.keyword) {#}
                  @case (SearchQueryTypes.person) {
                    <ng-icon name="ionPersonOutline"></ng-icon>
                  }
                }{{keyword.value}}</a>
            } @else {
              <span>
                @switch (keyword.type) {
                  @case (SearchQueryTypes.keyword) {#}
                  @case (SearchQueryTypes.person) {
                    <ng-icon name="ionPersonOutline"></ng-icon>
                  }
                }{{keyword.value}}</span>
            }
            @if (!last) {,&#160;}
          }
        </div>
      }
    </div>
  }
</div>
