
@switch (method) {
  @case (GroupSortByTypes.Name) {
    <ng-icon name="ionTextOutline"></ng-icon>
  }
  @case (GroupSortByTypes.Rating) {
    <ng-icon name="ionStarOutline"></ng-icon>
  }
  @case (GroupSortByTypes.Date) {
    <ng-icon name="ionCalendarOutline"></ng-icon>
  }
  @case (GroupSortByTypes.PersonCount) {
    <ng-icon name="ionPersonOutline"></ng-icon>
  }
  @case (GroupSortByTypes.Random) {
    <ng-icon name="ionShuffleOutline"></ng-icon>
  }
  @case (GroupSortByTypes.FileSize) {
    <ng-icon name="ionDocumentOutline"></ng-icon>
  }
  @case (GroupSortByTypes.NoGrouping) {
    <ng-icon name="ionCloseOutline"></ng-icon>
  }
}
