<div class="imgContainer" #imgContainer>
  @if (showThumbnail()) {
    <img
      [style.width.%]="imageSize.width"
      [style.height.%]="imageSize.height"
      [style.transform]="ImageTransform"
      [src]="thumbnailSrc"/>
  }

  @if (gridMedia !== null && gridMedia.isPhoto() && photo.src) {
    <img
      [style.width.%]="imageSize.width"
      [style.height.%]="imageSize.height"
      [style.transform]="ImageTransform"
      [src]="photo.src"
      [alt]="gridMedia.media.name"
      (load)="onImageLoad()"
      (error)="onImageError()"
      #image/>
  }

  @if (gridMedia !== null && gridMedia.isLivePhoto() && loadMedia && liveVideoSrc) {
    <div
      class="live-photo-container"
      [class.playing]="liveVideoPlaying">
      <video [style.width.%]="imageSize.width"
        [style.height.%]="imageSize.height"
        [style.transform]="ImageTransform"
        [loop]="true"
        [muted]="true"
        playsinline
        (error)="onImageError()"
        #liveVideo>
        <source [src]="liveVideoSrc" (error)="onSourceError()">
      </video>
      <div class="live-photo-badge"
        [class.active]="liveVideoPlaying"
        (mouseenter)="startLiveVideo()"
        (mouseleave)="stopLiveVideo()"
        (touchstart)="startLiveVideoTouch()"
        (touchend)="stopLiveVideo()"
        (touchcancel)="stopLiveVideo()"
        (click)="toggleLiveVideo()">
        LIVE
      </div>
    </div>
  }

  @if (gridMedia !== null && gridMedia.isVideo() && loadMedia) {
    <video
      [style.width.%]="imageSize.width"
      [style.height.%]="imageSize.height"
      (loadstart)="onImageLoad()"
      [loop]="lightboxService.loopVideos"
      autoplay
      (error)="onImageError()"
      (timeupdate)="onVideoProgress()"
      #video>
      <source [src]="gridMedia.getBestFitVideoPath()" (error)="onSourceError()">
      Something went wrong.
    </video>
  }


</div>


