<a [routerLink]="RouterLink"
  style="display: inline-block;">


  <div class="photo-container  rounded overflow-hidden"
    [style.width.px]="size"
    [style.height.px]="size">

    @if (thumbnail && thumbnail.Available) {
      <div class="photo "
      [style.background-image]="getSanitizedThUrl()"></div>
    }

    @if (!thumbnail || !thumbnail.Available) {
      <app-icon class="no-image"></app-icon>
    }
  </div>


  <!--Info box -->
  <div class="info rounded-bottom">
    {{album.name}} ({{album.cache?.itemCount}})
    @if (CanUpdate && !album.locked) {
      <ng-icon
        (click)="deleteAlbum($event)"
        class="info-button delete float-end"
        name="ionTrashOutline"
      title="Delete" i18n-title></ng-icon>
    }

    @if (album.locked) {
      <ng-icon
        class="info-button float-end"
        name="ionLockClosedOutline"
        title="Album is locked, cannot be deleted from the webpage."
      i18n-title></ng-icon>
    }

  </div>
</a>

