name: docker-buildx-from-commit
run-name: Build from commit ${{ github.event.inputs.commit_id }}

on:
  workflow_dispatch:
    inputs:
      commit_id:
        description: 'Commit SHA to build from'
        required: true
      publish_mode:
        description: 'Choose "push" to Docker Hub or "tar" to save as artifact'
        required: true
        default: 'tar'
        type: choice
        options:
          - push
          - tar

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: getong/mariadb-action@v1.11
        with:
          mysql database: 'pigallery_test'
          mysql root password: 'password'
          mysql user: 'user'
          mysql password: 'password'

      - name: Checkout specific commit
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.commit_id }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Verify MariaDB connection
        env:
          PORT: ${{ job.services.mariadb.ports[3306] }}
        run: |
          while ! mysqladmin ping -h"127.0.0.1" -P"$PORT" --silent; do
            sleep 1
          done

      - name: npm install and build
        run: |
          npm ci
          npm run build

      - name: lint
        run: npm run lint

      - name: test
        run: |
          npm test
          npm run coverage
        env:
          MYSQL_HOST: localhost
          MYSQL_USERNAME: root
          MYSQL_PASSWORD: password
          MYSQL_PORT: ${{ job.services.mariadb.ports[3306] }}
          PORT: 35000
          CI: true

      - name: Coveralls
        uses: coverallsapp/github-action@v2

      - name: E2E test - Cypress run
        uses: cypress-io/github-action@v6
        env:
          DEBUG: '@cypress/github-action'
        with:
          start: npm run start-e2e-server

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: test/cypress/screenshots
          if-no-files-found: ignore

  create-release:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - name: Checkout specific commit
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.commit_id }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Deps
        run: npm install --unsafe-perm

      - name: Create Release
        run: npm run create-release -- --skip-opt-packages=ffmpeg-static,ffprobe-static --force-opt-packages

      - uses: actions/upload-artifact@v4
        with:
          name: pigallery2-release
          path: release

  build-dockerx:
    runs-on: ubuntu-latest
    needs: [create-release]
    strategy:
      matrix:
        container: [alpine, debian-bullseye, debian-bookworm]
        include:
          - container: alpine
            platforms: linux/amd64,linux/arm64,linux/arm/v7
          - container: debian-bullseye
            platforms: linux/amd64,linux/arm64,linux/arm/v7
          - container: debian-bookworm
            platforms: linux/amd64,linux/arm64,linux/arm/v7

    steps:
      - name: Checkout specific commit
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.commit_id }}

      - uses: actions/download-artifact@v4
        with:
          name: pigallery2-release
          path: pigallery2-release

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        if: ${{ github.event.inputs.publish_mode == 'push' }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build docker
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/${{ matrix.container }}/Dockerfile.build
          platforms: ${{ matrix.platforms }}
          push: ${{ github.event.inputs.publish_mode == 'push' }}
          tags: |
            ${{ secrets.REGISTRY_NAMESPACE }}/pigallery2:${{ github.event.inputs.commit_id }}-${{ matrix.container }}
            ${{ secrets.REGISTRY_NAMESPACE }}/pigallery2:${{ github.event.inputs.commit_id }}

      - name: Save image as tar (if publish_mode == tar)
        if: ${{ github.event.inputs.publish_mode == 'tar' }}
        run: |
          docker save ${{ secrets.REGISTRY_NAMESPACE }}/pigallery2:${{ github.event.inputs.commit_id }}-${{ matrix.container }} \
            -o pigallery2-${{ matrix.container }}.tar

      - uses: actions/upload-artifact@v4
        if: ${{ github.event.inputs.publish_mode == 'tar' }}
        with:
          name: pigallery2-${{ matrix.container }}
          path: pigallery2-${{ matrix.container }}.tar
